{% extends "layouts/master.html" %} {% set page_title = "about" %} {% block
main_block %}
<!-- header part start  -->
<header id="header_part" class="personal_page">
  <div class="overlay_mobile d-none"></div>
  <div class="overlay_down d-none"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 order-lg-1 order-2">
        <div class="header_content text-center">
          <h1>About this awesome app</h1>
          <p>
            Recursion FinTech Limited (RFTL) is the only PCI DSS, ISO 9001 and ISO 27001 certified Payment Service
            Provider (PSP) in Bangladesh. We are the first complete and most secure e-wallet service provider in this
            country. Our e-wallet application, “CashBaba” is fully handcrafted and developed inhouse.
            RFTL is founded by a team with expertise in the financial and payment industry and specialized in creating
            innovative FinTech solutions for the mass market. It is a team of passionate people and strives in providing
            premium support and customer satisfaction.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 order-lg-2 order-1 text-center m-0 p-0">
        <div class="personal_page_img">
          <img src="images/page-banner-img/about-bg.png" class="img-fluid" alt="" />
        </div>
        <div class="menu_bar d-none">
          <p>
            <span></span>
            <span></span>
            <span></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header part end  -->

<!-- About part start  -->
<section class="about_part">
  <div class="wavify_animation">
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_five">
      <defs></defs>
      <path id="feel-the-wave-five" d="" />
    </svg>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2></h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <p class="about_title_p">
          We are the first complete and most secure ewallet solution provider in
          Bangladesh named CashBaba. We allow individuals to open accounts free
          of charge, in order to do financial transactions from anywhere any
          point of time. They are able to send and request money to their
          friends and families, recharge mobile, pay bills or purchase online
          instantly.
        </p>
        <p class="about_title_p">
          As for our merchants, we provide them the most cost effective,
          efficient, smooth and powerful payment gateway to perform secure
          electronic payment processing. It provides reliable and robust
          solution to e- commerce and mobile commerce which ensures the maximum
          comfort and safety for the buyers, and of course, the profitable
          business for merchants.
        </p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="about_cards text-center about_cards_1">
          <div class="about_icon about_icon_first">
            <img src="images/PSP%20Logo-01.png" alt="" />
          </div>
          <h2>Payment service provider</h2>
          <p>
            We are licensed and regulated by the Central Bank of Bangladesh as a
            Payment Service Provider (PSP) with accord to "Bangladesh Payment
            and Settlement Systems Regulation-2014 (BPSSR-2014)”
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="about_cards text-center about_cards_2">
          <div class="about_icon ">
            <img src="images/verified-pci.svg" alt="" />
          </div>
          <h2>PCI verfied payment</h2>
          <p>
            We are the only PCI-DSS Certified Payment Service Provider in
            Bangladesh. PCI DSS certification ensures the highest level of
            security for the payment industry.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="about_cards text-center about_cards_3">
          <div class="about_icon about_icon_3">
            <img src="images/ISO-27001.svg" alt="" />
          </div>
          <h2>ISO 27001 and ISO 9001 Certificate</h2>
          <p>
            With the goal of providing quality and consistent service, avoiding
            financial penalties and losses associated with data breaches, we are ISO 9001 and ISO
            27001 certified company.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About part end  -->

<!--  personal tab part start  -->
<section class="personal_tab_part">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2></h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="personal_tab">
          <div class="personal_tab_top_bar">
            <div class="row ">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="personal_tab_link personal_tab_link_three personal_tab_link_active">
                  <img src="images/personal-tab-svg/limit.svg" alt="" />
                  <h3>Achievements</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="personal_tab_details_3" style="display: block !important;">
            <div class="row">
              <div class="col-lg-6">
                <h2></h2>
              </div>
              <div class="col-lg-12">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Year</th>
                      <th scope="col">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">2020</th>
                      <td>
                        Received PSP License from Bangladesh Bank
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2019</th>
                      <td>
                        Received PCI DSS certification
                      </td>
                    </tr>
                    <tr>
                      <th scope="row">2018</th>
                      <td>
                        <p>Received ISO 9001:2015 certification</p>
                        <p>Received ISO 27001:2013 certification</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  personal tab part end  -->

<!-- newsletter subscription start -->
<section class="newsletter_part">
  <div class="wavify_animation">
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-six" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-seven" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-eight" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-nine" d="" />
    </svg>
  </div>
</section>

{% endblock %}