{% extends "layouts/master.html" %} {% set page_title = "faq" %} {% block
main_block %}



<!-- header part start  -->
<header id="header_part" class="personal_page">
  <div class="overlay_mobile d-none"></div>
  <div class="overlay_down d-none"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 order-lg-1 order-2">
        <div class="header_content text-center">
          <h1>FREQUENTLY ASKED QUESTIONS (FAQs)</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header part end  -->

<!--  personal tab part start  -->

<section class="personal_tab_part">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h2>Definition: </h2>
        <h3>1. What is CashBaba?</h3>
        <p>
          CashBaba is an e-Wallet service of Recursion FinTech Limited. Recursion FinTech Limited is the Licensed Payment Service Provider of Bangladesh with PCI-DSS and ISO-27001 Compliance Certification along with EMVCo Standard. It is committed to offer you a cash-less, worry-less, and secure platform that takes care of your everyday financial transaction needs! This versatile payment solution allows an individual or a merchant to do financial transactions without cash or a card. 
        </p>
        <h3>2.	What is PCI DSS?</h3>
        <p>
          Payment Card Industry Data Security Standard. PCI DSS certification ensures the highest level of security for the payment industry. The PCI Security Standards Council (PCI SSC) is a global forum that brings together payments industry stakeholders to develop and drive the adoption of data security standards and resources for safe payments worldwide.
        </p>
        <br />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h2>Registration: </h2>
        <h3>1.	How can I download CashBaba?</h3>
        <p>
          CashBaba is available both on Android and iOS platforms. You can download CashBaba from Play Store or App Store. Below please find the download link-
        </p>
        
        <h5>For Android user:</h5><br />
        <a class="btn btn-light" type="button" href="https://play.google.com/store/apps/details?id=com.bd_cashbaba" target="">Android Personal</a>
        <a class="btn btn-light" type="button" href="https://play.google.com/store/apps/details?id=com.bd_cashbaba.business">Android Merchant</a>
        
        <h5>For iPhone user:</h5><br />
        <a class="btn btn-light" type="button" href="https://apps.apple.com/us/app/cashbaba/id1352887969" target="">IOS Personal</a>
        <a class="btn btn-light" type="button" href="https://apps.apple.com/us/app/cashbaba-merchant/id1482476178">IOS Merchant</a>        
        <br />
        <h3>2.	What is the android or iOS minimum version requirement to install CashBaba?</h3>
        <p>Minimum version requirement to install CashBaba For Android- Android Version 5.0 
          For iOS- iOS version 10.
        </p>
        <br />
        <h3>3.	Do I need to open an account to use CashBaba Services?</h3>
        <p>Yes, you must have a CashBaba wallet account to use its services and you need to agree with its terms and conditions.</p>
        <br />
        <h3>4.	How much initial deposit is required to open a CashBaba account?</h3>
        <p>No initial deposit amount is required to open a CashBaba account.</p>
        <br />
        <h3>5.	What do I need to open a CashBaba account?</h3>
        <ul>
          <li>•	To open a CashBaba personal account, you must upload your NID (Both Front and Back Side) and your KYC (Know Your Customer) Image (selfie) during Signing up.</li>
          <li>•	To open a CashBaba business account, you must upload your business documents based on your business type. You may require to upload your e-TIN Certificate, Trade License, Memorandum, Proof of Address, Article of Association, Board Resolution, VAT Certificate, Passport, Certificate of Incorporation, NOC Letter, etc. </li>
        </ul>
        <br>
        <h3>6.	Who is eligible to open a CashBaba account?</h3>
        <p>Anyone -</p>
        <ul>
          <li>•	With age of 18 years and above.</li>
          <li>•	With a valid Bangladeshi National ID. </li>
          <li>•	With a valid Mobile Number.</li>
          <li>•	Has a Bank/MFS account.</li>
        </ul>
        <br>
        <h3>7.	Why can’t I send money or purchase although I’m registered?  </h3>
        <p>You will not be able to send money or purchase with your CashBaba Wallet due to the following reasons:</p>
        <ul>
          <li>•	Your account is not approved yet.</li>
          <li>•	Your account balance is zero.</li>
          <li>•	You have crossed your daily/monthly limit.</li>
          <li>•	The system finds the transaction as potentially fraudulent or suspicious.</li>
          <li>•	No transaction has taken place for the last 6 months from your wallet.</li>
          <li>•	Enforced by the regulatory body.</li>
        </ul>
        <br>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h2>Account: </h2>
        <h3>1.	How can I log into my CashBaba Account?</h3>
        <p>You can log in to CashBaba by using the following steps:</p>
        <ul>
          <li>•	Download CashBaba App on your device.</li>
          <li>•	Login to your CashBaba account by using the device.</li>
          <li>•	You will receive a verification code on your registered mobile number.</li>
          <li>•	Use the verification code to log in to your account by using it on the device and Catch the verification code.</li>
          <li>•	After Successful login, you can use your CashBaba account on your device.</li>
        </ul>
        <br />
        <h3>2.	How do I open or register my CashBaba Account?</h3>
        <p>Open a CashBaba account by using the following steps: </p>
        <ul>
          <li>•	Download CashBaba App from Play Store or App Store.</li>
          <li>•	Follow the instructions, upload both sides of your National Identity Card (NID).</li>
          <li>•	Take your selfie during signing up.</li>
          <li>•	Read and agree with the terms and conditions.</li>
          <li>•	Check all the information and avail of the CashBaba service on your own.</li>
        </ul>
        <br />
        <h3>3.	How many types of accounts does CashBaba support?</h3>
        <p>Currently, CashBaba supports two types of Account-</p>
        <ul>
          <li>•	<b>Personal Account:</b> For Personal Purpose.</li>
          <li>• <b>Merchant Account:</b> For Business Purpose.</li>
        </ul>
        <br />
        <h3>4.	Can I use CashBaba digital wallet from outside of Bangladesh?</h3>
        <p>No. Though we have plan in this regard; which will be operational after getting relevant 
          Permission from the regulatory body. 
          </p>
        <br />
        <h3>5.	What will be the procedure if any non-resident user wants to open a CashBaba wallet?</h3>
        <p>In that case, special permission is required, and also need to submit the following doc/info:</p>
        <ul>
          <li>•	Passport copy.</li>
          <li>•	Current employers NOC.</li>
          <li>•	Bank account information details which are operated here in Bangladesh.</li>
        </ul>
        <br />
        <h3>6.	Can I change my account type?</h3>
        <p>No, you are not allowed to change your account type once you complete the Sign-Up Process.</p>
        
        <br />
        <h3>7.	Can I sign up for a personal account and merchant account with the same mobile number?</h3>
        <p>No, you are not allowed to sign up with the same mobile number for two accounts.</p>        
        <br />
        <h3>8.	Can I change my mobile number or email ID once registered with CashBaba?</h3>
        <p>Yes.</p>        
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h2>Services:</h2>
        <h3>1.	What are the services CashBaba offers?</h3>
        <p>
          Our system allows you to open account free of charge. You can send or receive money, transfer funds, pay bills, recharge mobile numbers, make payments to merchants, shop online, and pay fees with your CashBaba wallet.
        </p>
        <h3>2.	Can I do Transaction 24/7 using CashBaba?</h3>
        <p>
          Yes, you can do transactions 24/7 using CashBaba.
        </p>
        <h3>3.	How long does it take to complete a transaction?</h3>
        <p>
          Usually, it takes a few seconds to complete a transaction.
        </p>
        <h3>4.	How long does it take to approve the CashBaba account?</h3>
        <p>
          The account approval process may take up to a maximum of 2 working days.
        </p>
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h2>Security:</h2>
        <h3>1.	What if I enter the wrong password multiple times?</h3>
        <p>If you enter the wrong Password 3 consecutive times, your account will be temporarily blocked and you will be required to contact our helpline at 09666777245 to prove your ownership and reactivate your access. </p>
        
        <h3>2.	How can I login to my CashBaba account using a new device? </h3>
        <p>You can log in to CashBaba in the following way:</p>
        <ul>
          <li>•	Download CashBaba App on your new device</li>
          <li>•	Login to your CashBaba account by using the new device</li>
          <li>•	You will receive a verification code on your registered mobile number.</li>
          <li>•	Use the verification code to log in to your account by using it on the new device and Catch the verification code.</li>
          <li>•	After Successful login, you can use your CashBaba account on your new device.</li>
        </ul>
        <br />
        <h3>3.	What happens if I send money to an incorrect mobile number?  </h3>
        <p>If you sent your money to an incorrect mobile number, we are, unfortunately, unable to recover your funds, as we have no control over transactions. It’s very important to make sure that you have verified the transaction details before you transfer the fund.  </p>
        <br />
        <h3>4.	Can I update my information at any time?</h3>
        <p>
          You can only update your basic information before your account gets approved. After the approval takes place, you are not allowed to update your basic information but you can update your address anytime you want.
        </p>
        <br />
        <h3>5.	What should I do if I forget my password?</h3>
        <p>Sorry to hear that you forgot your password. You can easily reset it by exploring the following ways: </p>
        <ul>
          <li>•	Go to your CashBaba login page</li>
          <li>•	Enter your verified mobile number or email address</li>
          <li>•	Click on “Forgot Password”</li>
          <li>•	Type registered “Mobile Number”</li>
          <li>•	Type NID last 4 digits & Date of birth</li>
          <li>•	Type “Verification code” [sent to your registered mobile number]</li>
          <li>•	Type “New Password”</li>
          <li>•	Type again “New Password” & Submit</li>
        </ul>
        <br />
        <h3>6.	How can I Change my CashBaba PIN?</h3>
        <p>You need to follow the below steps: </p>
        <ul>
          <li>•	Select the drawer from the dashboard of the CashBaba app</li>
          <li>•	Select the Change PIN</li>
          <li>•	Enter the existing password</li>
          <li>•	Enter the New PIN & confirm New PIN </li>
          <li>•	Select submit & your new PIN has been successfully updated</li>
        </ul>
        <br />

        <h3>7.	How can I update my information?</h3>
        <p>You can update most of your details via your CashBaba profile.
          However, if you need to update your name and Date of Birth, please contact CashBaba Customer Service.
          </p>        
        <br />
        <h3>8.	I skipped the NID submission process while signing up. How can I submit my NID now?</h3>
        <p>Click on the left panel of the app screen and tap on ‘Profile’ for submitting your desired NID details. </p>        
        <br />
        <h3>9.	Can I update/edit my NID if I submit the wrong NID?</h3>
        <p>No, once you submit your NID information, you are not allowed to update/edit your NID information. If you upload the wrong information, your NID will be rejected by the CashBaba profile management team while the verification process. Once it is rejected, you can submit the correct NID information. Or you can also contact the CashBaba Helpline on 09666777245 or you can send us an email to support@cashbaba.com.bd. </p>        
        <br />
        <h3>10.	Is it necessary to keep my app Up-to-Date?</h3>
        <p>Yes, it is very necessary to keep your app Up-to-Date. App update comes with different bug fix and new features. </p>        
        <br />
        <h3>11.	If my mobile phone is lost, what will happen to the CashBaba account?</h3>
        <p>Since your wallet is 3D secured, it is safe even though you have lost your phone. If you still suspect any unauthorized access to your account or your mobile phone is lost, firstly and immediately inform your mobile operator to block your SIM so that nobody has access to the OTP for transactions and at the same time please contact the CashBaba Helpline on 09666777245 or you can send us an email to support@cashbaba.com.bd and we shall take care of your account from any unauthorized transactions. </p>        
        <br />
        <h3>11.	If my mobile phone is lost, what will happen to the CashBaba account?</h3>
        <p>Since your wallet is 3D secured, it is safe even though you have lost your phone. If you still suspect any unauthorized access to your account or your mobile phone is lost, firstly and immediately inform your mobile operator to block your SIM so that nobody has access to the OTP for transactions and at the same time please contact the CashBaba Helpline on 09666777245 or you can send us an email to support@cashbaba.com.bd and we shall take care of your account from any unauthorized transactions. </p>        
        <br />
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2>Payments:</h2>
        <h3>1.	What is the maximum balance/limit of CashBaba? </h3>
        <p>Here is the transaction limit for CashBaba-</p>
        <div class="personal_tab">
          <div class="personal_tab_details_3" style="display: block !important;">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h5>Transaction Limit for Personal Wallet</h5>
              </div>
              <div class="col-lg-12">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Sl. No</th>
                      <th scope="col">Description</th>
                      <th scope="col">Amount (BDT)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1.</th>
                      <td>Maximum balance at any point of time</td>
                      <td>4,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2.</th>
                      <td>Add Money through any channel per transaction</td>
                      <td>1,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3.</th>
                      <td>Add Money Per Month</td>
                      <td>4,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">4.</th>
                      <td>Purchase (Personal to Business)</td>
                      <td>No Limit</td>
                    </tr>
                    <tr>
                      <th scope="row">5.</th>
                      <td>
                        Send Money <br />
                        - Per transaction limit <br />
                        - Daily limit <br />
                        - Monthly limit
                      </td>
                      <td><br />50,000<br />1,00,000<br />4,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">6.</th>
                      <td>Cash-out at ATM per transaction</td>
                      <td>20,000</td>
                    </tr>
                    <tr>
                      <th scope="row">7.</th>
                      <td>
                        Transfer to Bank A/C <br />
                        - Per transaction limit <br />
                        - Daily limit <br />
                        - Monthly limit
                      </td>
                      <td><br />50,000<br />1,00,000 <br />4,00,000</td>
                    </tr>                    
                  </tbody>
                </table>
                <p>
                  Note: *CashBaba reserves the right to change the limit structure at its discretion.</br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="personal_tab">
          <div class="personal_tab_details_3" style="display: block !important;">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h5>Transaction Limit for Merchant Wallet</h5>
              </div>
              <div class="col-lg-12">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Sl. No</th>
                      <th scope="col">Description</th>
                      <th scope="col">Amount (BDT)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1.</th>
                      <td>Maximum balance at any point of time</td>
                      <td>As per Transaction Profile</td>
                    </tr>
                    <tr>
                      <th scope="row">2.</th>
                      <td>Add Money through any channel per transaction</td>
                      <td>As per Transaction Profile</td>
                    </tr>
                    <tr>
                      <th scope="row">3.</th>
                      <td>Add Money Per Month</td>
                      <td>As per Transaction Profile</td>
                    </tr>
                    <tr>
                      <th scope="row">4.</th>
                      <td>Sale</td>
                      <td>As per Transaction Profile</td>
                    </tr>
                    <tr>
                      <th scope="row">5.</th>
                      <td>Vendor Payment </td>
                      <td>As per Transaction Profile</td>
                    </tr>
                    <tr>
                      <th scope="row">6.</th>
                      <td>Transfer to Bank A/C</td>
                      <td>As per Transaction Profile</td>
                    </tr>
                  </tbody>
                </table>
                <p>
                  Note: * CashBaba reserves the right to change the limit structure at its discretion.
                  </br>
                </p>
              </div>
            </div>
          </div>
        </div>
        <br />
        <h3>2.	What can I do with the money from my CashBaba Wallet account?</h3>
        <p>
          You can spend the money loaded into your CashBaba Wallet account for many purposes. Some of them are listed below
        </p>
        <ul>
          <li>•	Purchase from any merchant/vendor integrated with CashBaba </li>
          <li>•	Pay your utility bills.</li>
          <li>•	Pay your credit card bills.</li>
          <li>•	Pay educational or govt. fees.</li>
          <li>•	Top up your mobile.</li>
          <li>•	Purchase tickets (bus, train, air, movie, etc). </li>
          <li>•	Pay restaurants bills when you dine out at CashBaba or VISA registered merchants.</li>
          <li>•	Send money to your friends and family.</li>
          <li>•	Transfer money from your wallet to your bank account.</li>
          <li>•	Online purchase. </li>
          <li>•	And much more. </li>
        </ul>
        <br />
        <h3>
          3.	What is the maximum amount that a CashBaba customer can transfer?  
        </h3>
        <p>
          Please check the transaction limit of CashBaba. FAQ no. Payment 1
        </p>
        <br />
        <h3>
          4.	How do I withdraw money from my CashBaba Account?  
        </h3>
        <ul>
          <li>•	Transfer money from the CashBaba wallet directly to your Bank account.</li>
          <li>•	Withdraw money QCash accepted ATM booths through cash by code (feature will be added soon).</li>
          <li>•	Use CashBaba Card and withdraw money from any ATM.</li>
        </ul>
        <br />
        <h3>
          5.	Can I use CashBaba to withdraw money from an ATM?  
        </h3>
        <p>
          Yes. You can withdraw money QCash accepted ATM booths through cash by code.
        </p>
        <br />
        <h3>
          6.	What payment modes can I use to load money into CashBaba?
        </h3>
        <p>You can load money to CashBaba with the following methods:</p>
        <ul>
          <li>•	Bank accounts (from Banks that are directly integrated with CashBaba).</li>
          <li>•	Credit card/Debit cards. </li>
          <li>•	Request your Friends & Family to send you money on CashBaba Wallet.</li>
        </ul>
        <br />
        <h3>
          7.	Is CashBaba safe and secure to share confidential details? 
        </h3>
        <p>
          CashBaba is completely safe and secure to share confidential details. It can store multiple credit/debit cards and bank account numbers with the highest level of security because it is PCI DSS certified product. All the transactions and card data are encrypted and no one including our staff can access that information.
        </p>
        <br />
        <h3>
          8.	How many bank accounts I can link with CashBaba?
        </h3>
        <p>
          You can link a maximum of 5 bank accounts with your CashBaba wallet.
        </p>
        <br />
        <h3>
          9.	If I save my card details for future use, will it be safe in my e-wallet account?
        </h3>
        <p>
          Cashbaba is ISO 9001, ISO 27001, and PCI DSS certified. It also follows ISO 8583 standard. Therefore, your card details in CasBaba is safe and secure. The card and transaction details are encrypted and no one including our staff can access that information.
        </p>
        <br />
        <h3>
          10.	How can I send money from my CashBaba Wallet?
        </h3>
        <p>
          You can send money to another CashBaba user within some clicks:
        </p>
        <ul>
          <li>•	From the dashboard go to “Send Money”.</li>
          <li>•	Select “Beneficiary”. </li>
          <li>•	Write down the “Amount”.</li>
          <li>•	Check the acknowledgment Box.</li>
          <li>•	Click on “Submit”.</li>
        </ul>
        <br />
        <h3>
          11.	Can I request the fund through CashBaba?
        </h3>
        <p>
          Yes, you can send a request to your friends and family for the fund through CashBaba.
        </p>
        <br />
        <h3>
          12.	How can I send a request for money to my friends or family using a CashBaba wallet?
        </h3>
        <ul>
          <li>•	From the dashboard go to “Request Money”.</li>
          <li>•	Enter mobile number from whom you want to request</li>
          <li>•	Enter the Amount</li>
          <li>•	Click on “Submit”.</li>
        </ul>
        <br />
        <h3>
          13.	What is virtual cash?
        </h3>
        <p>
          Without providing cash or sharing your card data, you can help your friends and family to use your money at any merchant point or for online payment. Generate a virtual cash number for any specific amount or for a specific merchant and share this number with the beneficiary. They will then, use this number while making payment at the merchant point or e-commerce site after which the payment for that specific amount will be fulfilled.
        </p>
        <br />
        <h3>
          14.	If my transaction fails and payment gets deducted from my account what should I do?
        </h3>
        <p>
          If something goes wrong with your payment transaction and the amount gets deducted from your account, in that case, the fund will be refunded back to your wallet. If the amount is not refunded automatically then wait for 24 business hours to get the credit back to your wallet. In case money is not credited back to your account within that period please contact the CashBaba Helpline on 09666777245 or you can send us an email to support@cashbaba.com.bd.
        </p>
        <br />
        <h3>
          15.	What can I do for any dispute resolution?
        </h3>
        <p>
          In case any dispute arises, please inform CashBaba immediately. We will address your concern and provide you with a neutral and cost-effective means of settling the dispute quickly.
        </p>
        <br />
        <h3>
          16.	What will be the policy if I want to return a purchase or want a refund for a non-delivered product?
        </h3>
        <p>
          Please contact your merchant regarding this issue. If you want to return a purchase or want a refund for non-delivery items it will be followed by the merchant’s prescribed terms and conditions. If the merchant finds the request valid as per his/her business policy, he will initiate the refund. 
        </p>
        <br />
        <h3>
          17.	How do I transfer money to a bank account?
        </h3>
        <p>
          You can transfer money to any account from your wallet even without linking the bank to your wallet. 
        </p>
        <br />
        <h3>
          18.	If I close my account can I have my money back?
        </h3>
        <p>
          You can have your money back into your bank account subject to all outstanding fees or charges are paid (if applicable).
        </p>
        <br />
        <h3>
          19.	Will my wallet balance earn interest?
        </h3>
        <p>
          CashBaba wallet doesn’t provide any interest as per the guideline of Bangladesh Bank. 
        </p>
        <br />
        <h3>
          20.	What happens if I enter the wrong OTP while doing any transaction?
        </h3>
        <p>
          During the transaction, if you put the wrong OTP, your payment will be declined. For a successful transaction, you must input the correct OTP. If the OTP expires, you have to request for new OTP.
        </p>
        <br />
        <h3>
          21.	What happens if there is no money in the account can I still do transactions? 
        </h3>
        <p>
          You are not able to do any transaction if you do not have money in your account but you will be able to request money from your Friends and Family who have CashBaba wallets.
        </p>
        <br />
        <h3>
          22.	How will I know when someone has sent me money via CashBaba Wallet?
        </h3>
        <p>
          CashBaba will send notifications to your App and your registered e-mail address, informing you of the amount and the source. Besides these, if you log in to your account you can see the confirmation of the transaction in the transaction history.
        </p>
        <br />
        <h3>
          23.	What is the time length I have to raise a dispute in case of online purchase?
        </h3>
        <p>
          This fully depends on the merchant’s end-user policy.
        </p>
        <br />
        <h3>
          24.	What do I do if I never received my purchase?
        </h3>
        <p>
          Please contact your merchant or you can contact our helpline at 09666777245 or you can send us an email to support@cashbaba.com.bd and raise a dispute. We will then take action to resolve the issue and you will be refunded if your dispute is found valid. 
        </p>
        <br />
        <h3>
          25.	Why didn’t I receive my account activation mail?
        </h3>
        <p>
          If you do not receive your activation email, first check whether if you registered with us with the correct email address. If your email address is correct then check your junk/spam folder to ensure that it did not fall in those boxes. If you still have not received your activation email, please contact us at 09666777245 or you can send us an email to support@cashbaba.com.bd.
        </p>
        <br />
        <h3>
          26.	How do I add a beneficiary?
        </h3>
        <p>
          You can add a beneficiary in the following steps:
        </p>
        <ul>
          <li>•	From the dashboard go to “Send Money”</li>
          <li>•	Click +Add new Beneficiary</li>
          <li>•	Select beneficiary from your mobile contract list or type the mobile number</li>
          <li>•	Enter your device security ID (PIN/Password)</li>
          <li>•	Check the acknowledgment box.</li>
          <li>•	Click on “Add Beneficiary”</li>
          <li>•	You will receive a successful notification</li>
        </ul>
        <br />
        <h3>
          27.	How can I “Send Money” from my CashBaba Wallet to another CashBaba wallet?
        </h3>
        <p>
          You can send money to another CashBaba user within some clicks:
        </p>
        <ul>
          <li>•	From the dashboard go to “Send Money”.</li>
          <li>•	Select “ Beneficiary” </li>
          <li>•	Write down the “Amount”</li>
          <li>•	Check the acknowledgment Box</li>
          <li>•	Click on “Fund Transfer”</li>
        </ul>
        <br />
        <h3>
          28.	How can I “Transfer Money” from my CashBaba Wallet to my Bank Account?
        </h3>
        <p>
          You can withdraw money to follow the below steps:
        </p>
        <ul>
          <li>•	From the dashboard go to “More”</li>
          <li>•	Click Transfer </li>
          <li>•	Select Bank from bank list</li>
          <li>•	Write down the “Amount”</li>
          <li>•	Check the acknowledgment box</li>
          <li>•	Click on “Submit”</li>
        </ul>
        <br />
        <h3>
          29.	Are there any fees associated with CashBaba?
        </h3>
        <p>
          Yes. There is a service charge imposed on some of the services CashBaba provides. The charge depends on the type of transaction. While doing the transaction, CashBaba will auto calculate the charge/fee amount based on your transaction amount and will show you before you submit your final request. The fees according to the type of transaction are given below-
        </p>
        <div class="personal_tab">
          <div class="personal_tab_details_3" style="display: block !important;">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h5>Transaction Fee (Personal Wallet)</h5>
              </div>
              <div class="col-lg-12">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Service</th>
                      <th scope="col">Fee/Charge</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Registration</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Account Maintenance</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Utility Bill Payment</td>
                      <td>BDT 10 </td>
                    </tr>
                    <tr>
                      <td>
                        Credit Card Bill Payment
                      </td>
                      <td>1.25%</td>
                    </tr>
                    <tr>
                      <td>
                        Add Money from Debit/Credit Card
                      </td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>
                        Add Money from Bank
                      </td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Transfer  Money to Bank</td>
                      <td>1.25%</td>
                    </tr>
                    <tr>
                      <td>Send Money (Wallet to Wallet)</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Receive Money (Wallet to Wallet)</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Mobile Recharge</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>QR Code Purchase</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Transaction History</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>ATM Cash Out</td>
                      <td>1.50%</td>
                    </tr>
                  </tbody>
                </table>
                * CashBaba reserves the right to change the fee structure at its discretion.
                <br />
                ** 15% VAT is applicable on service charge/fee
              </div>
            </div>
          </div>
        </div>
        <br />
        <div class="personal_tab">
          <div class="personal_tab_details_3" style="display: block !important;">
            <div class="row">
              <div class="col-lg-12 text-center">
                <h5>Transaction Fee (Merchant  Wallet)</h5>
              </div>
              <div class="col-lg-12">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Service</th>
                      <th scope="col">Fee/Charge</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Account Maintenance</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Add Money from Bank </td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Add Money from Card</td>
                      <td>1.25%</td>
                    </tr>
                    <tr>
                      <td>Transfer Money to Bank (Any Amount)</td>
                      <td>BDT 25</td>
                    </tr>
                    <tr>
                      <td>Supplier Payment </td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Receive Payment (QR Code/Online) </td>
                      <td>1.25%</td>
                    </tr>
                    <tr>
                      <td>Receive Supplier Payment</td>
                      <td>0.50%</td>
                    </tr>
                    <tr>
                      <td>Transaction History </td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Virtual Cash Payment Receive </td>
                      <td>1.50% </td>
                    </tr>
                    <tr>
                      <td>ATM Cash Out (Any amount)</td>
                      <td>BDT 50</td>
                    </tr>
                  </tbody>
                </table>
                * CashBaba reserves the right to change the fee structure at its discretion.
                <br />
                ** 15% VAT is applicable on service charge/fee.
              </div>
            </div>
          </div>
        </div>
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h2>CashBaba Card: </h2>
        <h3>1.	What is CashBaba Card?</h3>
        <p>
          This is the first time in Bangladesh that a card network has crossed the barrier of forming a primary membership alliance with a fintech company other than a bank in providing its platform users a free card with every wallet in the country. This partnership with UnionPay International will enable you to enjoy the benefits of co-branded card facilities. By using this card you can access your balance at 61,000 POS machines around the country, most E-Commerce sites and withdraw cash from the 11,000 ATM machines across the country without interest or any annual fee.
        </p>
        <br/>
        <h3>2.	How can I get my CashBaba Card?</h3>
        <p>
          Firstly, you must have a CashBaba account to get a Union Pay card. Secondly, you need to apply from your CashBaba wallet along with your detailed address. Consequently, the physical card will be delivered to your destination.
        </p>
        <br />
        <h3>3.	Where should I collect my CashBaba card?</h3>
        <p>
          Once you apply from your CashBaba wallet along with your detailed address, the physical card will be delivered to your destination. In the CashBaba app, you will be notified of the entire information on receiving a Union Pay Card.
        </p>
        <br />
        <h3>4.	When will I be eligible for a Union Pay Card?</h3>
        <p>
          All CashBaba account holders will be eligible for Union Pay Card.
        </p>
        <br />
        <h3>5.	What are the benefits of having a Union Pay card?</h3>
        <p>
          The following attributes you can avail:
        </p>
        <ul>
          <li>•	Wide ranged merchant payment flexibility (approx. 61000 POS).</li>
          <li>•	QR based payment option.</li>
          <li>•	Wide ranged ATM cash-out facility (approx. 11000).</li>
          <li>•	The equivalent of your wallet balance.</li>
          <li>•	International part payment limit $300 per month and $1000 per year.</li>
          <li>•	Easy to apply via an app and receive your physical card at your doorstep.</li>
          <li>•	No annual fees.</li>
        </ul>
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h2>Complaint Service:</h2>
        <h3>1.	What are the ways to raise a complaint? </h3>
        <p>
          We apologize for the inconvenience you have faced. But you can check the below list of options to raise a complaint through:
        </p>
        <ul>
          <li>•	The CashBaba App.</li>
          <li>•	The CashBaba live chat.</li>
          <li>•	The CashBaba Customer Service.</li>
        </ul>
        <br/>
        <h3>2.	How Can I raise a ticket and how long it takes to resolve a ticket?</h3>
        <p>
          You can raise a ticket/complaint from your application. The ticket will be resolved as per the guideline of Bangladesh Bank. It may take 1-30 days based on your ticket type and category.
        </p>
        <br />
        <h3>3.	Does your company have a website giving information on its services and prices? </h3>
        <p>
          We are happy that you are interested in our digital wallet “CashBaba”. If you provide us with your e-mail address, we can send you comprehensive information on our offers and prices.
        </p>
        <br />
        <h3>4.	If I have more questions about CashBaba, who do I contact?  </h3>
        <p>
          Please contact our Customer Support Department which is operated 24x7: 09666777245 <br/>
          Email address: support@cashbaba.com.bd
        </p>
        <br />        
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h2>Others:</h2>
        <h3>1.	What is a promoter?</h3>        
        <ul>
          <li>•	Anyone with a personal CashBaba wallet can refer the app to another person or merchant number (unregistered with CashBaba) to get registered and use the app. They work as an independent workforce of CashBaba in return for a commission. </li>
          <li>•	They are expected to communicate directly to merchants/consumers through relationship referrals and word of mouth marketing and boost the number of registration and usage of CashBaba.  When a promoter refers to the application, the potential user will receive a promo code to use during registration. After the registration is complete, anytime the customer/merchant account of the promoter does any transaction in which CashBaba imposes a fee/charge(terms and conditions applies), the promoter will receive their commission in real-time as per the commission distribution policy. The promoter is categorized as silver, gold, and platinum partner based on the transaction volume by the account referred by them and their commission rate may vary as well.</li>
          <li>•	Another commission or bonus structure depends on the promotional campaign of CashBaba.</li>
          <li>•	Promoter ship is an opportunity of having lifetime income with no monetary investment unless CashBaba itself pause or remove the campaign. </li>
        </ul>
        <br/>
        <h3>2.	How the promoter package is defined? </h3>
        <p>
          <a href="#">Link to promoter’s package.</a>
        </p>
        <br />
        <h3>3.	Do I need any investment as a promoter? </h3>
        <p>
          No. You don’t need any investment to be a promoter of CashBaba.
        </p>
        <br />
        <h3>4.	I don't have a shop or office. Can I become a Promoter?</h3>
        <p>
          Yes. To be a promoter of CashBaba you don’t need to have a shop or office. It is an opportunity to make money from home.
        </p>
        <br />        
      </div>
    </div>

  </div>
</section>
<!--  personal tab part end  -->

<!-- newsletter subscription start -->
<section class="newsletter_part">
  <div class="wavify_animation">
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-six" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-seven" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-eight" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-nine" d="" />
    </svg>
  </div>
</section>

{% endblock %}