{% extends "layouts/master.html" %} {% set page_title = "features" %} {% block
main_block %}
<!-- header part start  -->
<header id="header_part" class="feature_header">
  <div class="overlay_mobile d-none"></div>
  <div class="overlay_down d-none"></div>
  <div class="menu_bar d-none">
    <p>
      <span></span>
      <span></span>
      <span></span>
    </p>
  </div>
</header>
<!-- header part end  -->

<!-- features details part start   -->
<section class="features_details_part">
  <div class="container">
    <div class="row mx-5">
      <!--
                <div class="col-lg-2">
                    <div class="features_tab active_features_tab">
                        <img src="images/Features/Features-icon-2.png" alt="">
                        <h5>Fund Transfer</h5>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="features_tab">
                        <div class="features_tab_icon">
                            <img src="images/Features/Features-icon-2.png" alt="">
                        </div>
                        <h5>Fund Transfer</h5>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="features_tab">
                        <img src="images/Features/Features-icon-2.png" alt="">
                        <h5>Fund Transfer</h5>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="features_tab">
                        <img src="images/Features/Features-icon-2.png" alt="">
                        <h5>Fund Transfer</h5>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="features_tab">
                        <img src="images/Features/Features-icon-2.png" alt="">
                        <h5>Fund Transfer</h5>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="features_tab">
                        <img src="images/Features/Features-icon-2.png" alt="">
                        <h5>Fund Transfer</h5>
                    </div>
                </div>
-->

      <div class="features_slider"
        data-flickity='{ "cellAlign": "left", "wrapAround": true,"autoPlay":false,"friction":1,"selectedAttraction":0.08,"pauseAutoPlayOnHover":false,"unpausePlayer":false }'>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="carousel-cell">
            <div class="features_tab active_features_tab features_tab_1">
              <div class="features_tab_icon" style="padding: 3px;">
                <img style="height: 39px; width: 39px;" src="images/Features/webicon/icon-cashbaba-card-color.png" alt="" />
              </div>
              <h6>CashBaba Card</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="carousel-cell">
            <div class="features_tab features_tab_2">
              <div class="features_tab_icon" style="padding-top: 5px; padding-left: 2px;">
                <img style="height: 34px;width: 32px;" src="images/Features/webicon/icon-qr-payment-color.png" alt="" />
              </div>
              <h6>QR Payment</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="carousel-cell">
            <div class="features_tab features_tab_3">
              <div class="features_tab_icon" style="padding: 3px;">
                <img style="height: 40px;width: 41px;" src="images/Features/webicon/iocn-withdrawN.png" alt="" />
              </div>
              <h6>Transfer</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="carousel-cell">
            <div class="features_tab features_tab_4">
              <div class="features_tab_icon" style="padding-top: 2px;">
                <img style="width: 42px; height: 40px;" src="images/Features/webicon/iocn-topupN.png" alt="" />
                <!-- <img src="images/Features/TopUp-icon.png" alt="" /> -->
              </div>
              <h6>Mobile Recharge</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="carousel-cell">
            <div class="features_tab features_tab_5">
              <div class="features_tab_icon" style="padding: 3px;">
                <img style="height: 40px;width: 41px;" src="images/Features/webicon/iocn-add-moneyN.png" alt="" />
              </div>
              <h6>Add Money</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="carousel-cell">
            <div class="features_tab features_tab_6">
              <div class="features_tab_icon" style="padding: 3px;">
                <img style="width: 39px;height: 40px;" src="images/Features/webicon/iocn-fund-transfarN.png" alt="" />
              </div>
              <h6>Send Money </h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="carousel-cell">
            <div class="features_tab features_tab_7">
              <div class="features_tab_icon" style="padding-top: 5px;">
                <img style="height: 39px;width: 40px;" src="images/Features/webicon/iocn-virtual-cashN.png" alt="" />
              </div>
              <h6>Virtual Cash</h6>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6">
          <div class="carousel-cell">
            <div class="features_tab features_tab_8">
              <div class="features_tab_icon" style="padding-top: 9px; padding-left: 3px;">
                <img style="height: 32px; width: 38px;" src="images/Features/webicon/iocn-utilitybillN.png" alt="" />
              </div>
              <h6>Utility Bill</h6>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="features_deatails_layout_4">
          <div class="features_bg">
            <img src="images/Features-page/features-banner.png" alt="" />
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="features_add">
                <img src="images/Features-page/Ad/mobile-recharge-feature-ad.jpg" class="img-fluid" alt="" />
              </div>
              <div class="features_video_screen">
                <div id="modal-cashbaba" class="modais" data-izimodal-transitionin="fadeInDown"
                  data-izimodal-title="Cashbaba - E-wallet"
                  data-izimodal-iframeURL="https://www.youtube.com/embed/wAjmbxTWRlk?autoplay=1"></div>

                <a href="#" data-izimodal-open="#modal-cashbaba"><img src="images/play-button-feature.svg" alt="" /></a>
                <p>
                  <span></span>
                  <span></span>
                </p>
                <img src="images/Features-page/video-bg.jpg" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-lg-5">
              <div class="features_text" style="padding: 0 25px 20px 0px;">
                <h2>Mobile Recharge</h2>
                <div class="card" style="border: none;">
                  <div class="card-body" style="padding: 0px;">
                    <p style="text-align: justify; margin: 0px;">Your prepaid or postpaid mobile recharge is just a click away
                      with CashBaba! We provide Mobile Recharge services for all the
                      mobile operators of Bangladesh including GrameenPhone, Robi,
                      Airtel, Banglalink and TeleTalk. You can also recharge the
                      mobile number of your friends and family with this app. To
                      recharge a number, simply perform the following steps:</p>
                  </div>                                
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="feature_image" style="text-align: center;">
                <img src="images/Features/feature-instruction/mobile-recharge-process-steps.png" class="img-fluid" alt="" />
              </div>
            </div>           
          </div>
        </div>
        <div class="features_deatails_layout_5">
          <div class="features_bg">
            <img src="images/Features-page/features-banner.png" alt="" />
          </div>
          <div class="row">
            <div class="col-lg-4">
              <!-- <div class="features_add">
                <img src="images/Features-page/Ad/1-01.png" class="img-fluid" alt="" />
              </div> -->
              <div class="features_video_screen">
                <div id="modal-cashbaba" class="modais" data-izimodal-transitionin="fadeInDown"
                  data-izimodal-title="Cashbaba - E-wallet"
                  data-izimodal-iframeURL="https://www.youtube.com/embed/wAjmbxTWRlk?autoplay=1"></div>

                <a href="#" data-izimodal-open="#modal-cashbaba"><img src="images/play-button-feature.svg" alt="" /></a>
                <p>
                  <span></span>
                  <span></span>
                </p>
                <img src="images/Features-page/video-bg.jpg" class="img-fluid" alt="" />
              </div>
            </div>
            
            <div class="col-lg-5">
              <div class="features_text" style="padding: 0 25px 20px 0px;"> 
                <h2>Add Money</h2>
                <div class="card" style="border: none;">
                  <div class="card-body" style="padding: 0px;">
                    <p style="text-align: justify; margin: 0px;">
                      Adding money to your CashBaba wallet is quick, easy and
                      secure. It is necessary to add money to your CashBaba wallet
                      or receive fund from another user before commencing any
                      financial transaction through this application. You can add
                      money to your CashBaba wallet from your bank account or your
                      debit/credit card instantly. It will also enable you to add
                      multiple bank accounts or cards to your wallet. You will be
                      able to use this fund to make payments at various places such
                      as departmental stores, restaurants, hospitals, educational
                      institutions, mobile recharge platform, while online payments
                      and at any CashBaba registered merchant’s place. To add money
                      to your CashBaba wallet you must-
                    </p>
                  </div>                              
                </div>
                <!-- <p style="text-align: justify;">
                  Adding money to your CashBaba wallet is quick, easy and
                  secure. It is necessary to add money to your CashBaba wallet
                  or receive fund from another user before commencing any
                  financial transaction through this application. You can add
                  money to your CashBaba wallet from your bank account or your
                  debit/credit card instantly. It will also enable you to add
                  multiple bank accounts or cards to your wallet. You will be
                  able to use this fund to make payments at various places such
                  as departmental stores, restaurants, hospitals, educational
                  institutions, mobile recharge platform, while online payments
                  and at any CashBaba registered merchant’s place. To add money
                  to your CashBaba wallet you must-
                </p>
                <ul>
                  <li>Go to Dashboard</li>
                  <li>Link Your Bank Account or Card</li>
                  <li>Enter the Amount</li>
                  <li>Add Money to Your Wallet</li>
                </ul> -->
              </div>
            </div>
            <div class="col-lg-3" style="padding: 0px;">
              <div class="feature_image" style="text-align: center;">
                <img src="images/Features/feature-instruction/add-money-process-steps.png" class="img-fluid" alt="" />
              </div>
            </div>
          </div>
        </div>
        <div class="features_deatails_layout_6">
          <div class="features_bg">
            <img src="images/Features-page/features-banner.png" alt="" />
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="features_video_screen">
                <div id="modal-cashbaba" class="modais" data-izimodal-transitionin="fadeInDown"
                  data-izimodal-title="Cashbaba - E-wallet"
                  data-izimodal-iframeURL="https://www.youtube.com/embed/wAjmbxTWRlk?autoplay=1"></div>

                <a href="#" data-izimodal-open="#modal-cashbaba"><img src="images/play-button-feature.svg" alt="" /></a>
                <p>
                  <span></span>
                  <span></span>
                </p>
                <img src="images/Features-page/video-bg.jpg" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-lg-5">              
              <div class="features_text" style="padding: 0 25px 20px 0px;">
                <h2>Send Money </h2>                
                <p style="text-align: justify;">
                  CashBaba is the simplest, most efficient and cost-free method of sending money to your friends and family. You can send money to anyone at anytime and anywhere with just a finger tap. We allow our customers to receive and send money which is absolutely free of cost. All you need is the mobile number of the beneficiary. To send money, you must:
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="feature_image" style="text-align: center;">
                <img src="images/Features/feature-instruction/features-process-steps-send-money.png" class="img-fluid" alt="" />
              </div>
            </div>            
          </div>
        </div>
        <div class="features_deatails_layout">
          <div class="features_bg">
            <img src="images/Features-page/features-banner.png" alt="" />
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="features_add">
                <img src="images/Features-page/Ad/cashbaba-card-feature-1.png" class="img-fluid" alt="" />
              </div>
              <div class="features_video_screen">
                <div id="modal-cashbaba" class="modais" data-izimodal-transitionin="fadeInDown"
                  data-izimodal-title="Cashbaba - E-wallet"
                  data-izimodal-iframeURL="https://www.youtube.com/embed/wAjmbxTWRlk?autoplay=1"></div>

                <a href="#" data-izimodal-open="#modal-cashbaba"><img src="images/play-button-feature.svg" alt="" /></a>
                <p>
                  <span></span>
                  <span></span>
                </p>
                <img src="images/Features-page/video-bg.jpg" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-lg-5">
              <div class="features_text" style="padding: 0 25px 20px 0px;">
                <h2>CashBaba Card</h2>
                <p style="text-align: justify; font-size: 15px;">
                  This is the first time in Bangladesh that a card network has crossed the barrier of forming a primary membership alliance with a fintech company other than a bank in providing its platform users a free card with every wallet in the country. This partnership with UnionPay International will enable CashBaba’s consumers to enjoy the benefits of co-branded card facilities. 
By using this card CashBaba customers can access their balance at 61,000 POS machines around the country, most E-Commerce sites and withdraw cash from the 11,000 ATM machines across the country without interest or any annual fee.
In partnership with more than 2400 institutions worldwide, UnionPay International has enabled card acceptance in 179 countries and regions with issuance in 63 countries and regions. It’s accepted at over 28 million merchants and more than 1.7 million ATMs across 179 countries worldwide. To Apply for card, you must: 

                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="feature_image" style="text-align: center;">
                <img src="images/Features/feature-instruction/cashbaba-card-process-steps.png" class="img-fluid" alt="" />
              </div>
            </div>
            
          </div>
        </div>
        <div class="features_deatails_layout_3">
          <div class="features_bg">
            <img src="images/Features-page/features-banner.png" alt="" />
          </div>
          <div class="row">
            <div class="col-lg-4">
              <!-- <div class="features_add">
                <img src="images/Features-page/Ad/3-01.png" class="img-fluid" alt="" />
              </div> -->
              <div class="features_video_screen">
                <div id="modal-cashbaba" class="modais" data-izimodal-transitionin="fadeInDown"
                  data-izimodal-title="Cashbaba - E-wallet"
                  data-izimodal-iframeURL="https://www.youtube.com/embed/wAjmbxTWRlk?autoplay=1"></div>

                <a href="#" data-izimodal-open="#modal-cashbaba"><img src="images/play-button-feature.svg" alt="" /></a>
                <p>
                  <span></span>
                  <span></span>
                </p>
                <img src="images/Features-page/video-bg.jpg" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-lg-5">
              <div class="features_text" style="padding: 0 25px 20px 0px;">
                <h2>Transfer</h2>
                <div class="card" style="border: none;">
                  <div class="card-body" style="padding: 0px;">
                    <p style="text-align: justify; margin: 0px;">
                      You can easily transfer your wallet balance at anytime simply, by clicking on “Transfer” on your application dashboard and choosing the amount of money you want to transfer. You can draw out funds through your linked bank account or ATM machines at an affordable cost. CashBaba will enable you to pay your monthly credit card bill by transferring money to your credit card. To transfer from your wallet, you must:
                    </p>
                  </div>             
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="feature_image" style="text-align: center;">
                <img src="images/Features/feature-instruction/features-process-steps-transfar-process.png" class="img-fluid" alt="" />
              </div>
            </div>            
          </div>
        </div>
        <div class="features_deatails_layout_2">
          <div class="features_bg">
            <img src="images/Features-page/features-banner.png" alt="" />
          </div>
          <div class="row">
            <div class="col-lg-4">
              <div class="features_add">
                <img src="images/Features-page/Ad/qr-payment-feature-ad.jpg" class="img-fluid" alt="" />
              </div>
              <div class="features_video_screen">
                <div id="modal-cashbaba" class="modais" data-izimodal-transitionin="fadeInDown"
                  data-izimodal-title="Cashbaba - E-wallet"
                  data-izimodal-iframeURL="https://www.youtube.com/embed/wAjmbxTWRlk?autoplay=1"></div>

                <a href="#" data-izimodal-open="#modal-cashbaba"><img src="images/play-button-feature.svg" alt="" /></a>
                <p>
                  <span></span>
                  <span></span>
                </p>
                <img src="images/Features-page/video-bg.jpg" class="img-fluid" alt="" />
              </div>
            </div>            
            <div class="col-lg-5">
              <div class="features_text" style="padding: 0 25px 20px 0px;">
                <h2>QR Payment</h2>
                <p style="text-align: justify;">
                  CashBaba EMVCo standard QR code facilitates the worldwide interoperability and acceptance of secure payment transactions. You can now simply scan the QR code of CashBaba network from your CashBaba application and make the payment instantly. The payments made through QR code will be directly gets transferred to the merchant account. To pay throw QR code follow these simple steps:
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="feature_image" style="text-align: center;">
                <img src="images/Features/feature-instruction/qr-payment-process-steps.png" class="img-fluid" alt="" />
              </div>
            </div>            
          </div>
        </div>
        
        <div class="features_deatails_layout_7">
          <div class="features_bg">
            <img src="images/Features-page/features-banner.png" alt="" />
          </div>
          <div class="row">
            <div class="col-lg-4">
              <!-- <div class="features_add">
                <img src="images/Features-page/Ad/10-01.png" class="img-fluid" alt="" />
              </div> -->
              <div class="features_video_screen">
                <div id="modal-cashbaba" class="modais" data-izimodal-transitionin="fadeInDown"
                  data-izimodal-title="Cashbaba - E-wallet"
                  data-izimodal-iframeURL="https://www.youtube.com/embed/wAjmbxTWRlk?autoplay=1"></div>

                <a href="#" data-izimodal-open="#modal-cashbaba"><img src="images/play-button-feature.svg" alt="" /></a>
                <p>
                  <span></span>
                  <span></span>
                </p>
                <img src="images/Features-page/video-bg.jpg" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-lg-5">
              <div class="features_text" style="padding: 0 25px 20px 0px;">
                <h2>Virtual Cash</h2>
                <div class="card" style="border: none;">
                  <div class="card-body" style="padding: 0px;">
                    <p style="text-align: justify; margin: 0px;">
                      Without providing cash or sharing your card data, you can help
                      your friends and family to use your money at any CashBaba
                      registered merchant for online payment or withdraw cash from
                      ATM booths very easily. Generate a virtual cash number for any
                      specific amount or a specific merchant and share this number
                      with the beneficiary. They will then, use this number while
                      making payment at the merchant point or e-commerce site after
                      which the payment for that specific amount will be fulfilled.
                      To generate a virtual cash, you must:
                    </p>
                  </div>              
                </div>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="feature_image" style="text-align: center;">
                <img src="images/Features/feature-instruction/features-process-steps-virtual-cash.png" class="img-fluid" alt="" />
              </div>
            </div>
            
          </div>        
        </div>
        <div class="features_deatails_layout_8">
          <div class="features_bg">
            <img src="images/Features-page/features-banner.png" alt="" />
          </div>
          <div class="row">
            <div class="col-lg-4">
              <!-- <div class="features_add">
                <img src="images/Features-page/Ad/5-01.png" class="img-fluid" alt="" />
              </div> -->
              <div class="features_video_screen">
                <div id="modal-cashbaba" class="modais" data-izimodal-transitionin="fadeInDown"
                  data-izimodal-title="Cashbaba - E-wallet"
                  data-izimodal-iframeURL="https://www.youtube.com/embed/wAjmbxTWRlk?autoplay=1"></div>

                <a href="#" data-izimodal-open="#modal-cashbaba"><img src="images/play-button-feature.svg" alt="" /></a>
                <p>
                  <span></span>
                  <span></span>
                </p>
                <img src="images/Features-page/video-bg.jpg" class="img-fluid" alt="" />
              </div>
            </div>
            <div class="col-lg-5">
              <div class="features_text" style="padding: 0 25px 20px 0px;">
                <h2>Utility Bill</h2>
                <p style="text-align: justify;">
                  CashBaba’s utility bill payment service brings you a fast,
                  secure, convenient, hassle-free and smart solution to all your
                  bill payment requirements. Pay all your utility bills without
                  standing in long queues and with the comfort of your home or
                  workplace 24/7. Please check for relevant biller to make the
                  bill payment. You can add recurring payments with customizable
                  scheduling features. It auto pays the bill from the wallet
                  balance on a pre-determined date. All it needs is the balance
                  available in your wallet. To pay your bill from your wallet,
                  you have to-
                </p>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="feature_image" style="text-align: center;">
                <img src="images/Features/feature-instruction/features-process-steps-utility-bill.png" class="img-fluid" alt="" />
              </div>
            </div>
            
          </div>        
        </div>      
      </div>
    </div>
  </div>
</section>
<!-- features details part end   -->

<!-- newsletter subscription start -->
<section class="newsletter_part features_footer">
  <div class="wavify_animation">
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-six" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-seven" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-eight" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-nine" d="" />
    </svg>
  </div>
  <div class="container"></div>
</section>

{% endblock %}