{% extends "layouts/master.html" %} {% set page_title = "limit-personal" %} {%
block main_block %}

<!-- header part start  -->
<header id="header_part" class="personal_page">
  <div class="overlay_mobile d-none"></div>
  <div class="overlay_down d-none"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 order-lg-1 order-2">
        <div class="header_content text-center">
          <h1>Transaction Limit (Personal Wallet)</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header part end  -->

<!--  personal tab part start  -->
<section class="personal_tab_part">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h5></h5>

        <div class="personal_tab">
          <div class="personal_tab_details_3" style="display: block !important;">
            <div class="row">
              <div class="col-lg-12">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Sl. No</th>
                      <th scope="col">Description</th>
                      <th scope="col">Amount (BDT)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1.</th>
                      <td>Maximum balance at any point of time</td>
                      <td>4,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2.</th>
                      <td>Add Money through any channel per transaction</td>
                      <td>1,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3.</th>
                      <td>Add Money Per Month</td>
                      <td>4,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">4.</th>
                      <td>Purchase</td>
                      <td>4,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">5.</th>
                      <td>
                        Fund transfer <br />
                        - Per transaction limit <br />
                        - Daily limit <br />
                        - Monthly limit
                      </td>
                      <td><br />1,00,000<br />1,00,000<br />4,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">6.</th>
                      <td>
                        Withdraw to Bank A/C <br />
                        - Per transaction limit <br />
                        - Daily limit <br />
                        - Monthly limit
                      </td>
                      <td><br />50,000<br />1,00,000 <br />4,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">7.</th>
                      <td>
                        Mobile Recharge (Single number) <br />
                        - Per transaction <br />
                        - Daily limit (pre-paid) <br />
                        - Daily limit (post-paid)
                      </td>
                      <td><br />1,000<br />3,000 <br />5,000 </td>
                    </tr>
                  </tbody>
                </table>
                <p>
                  Note: *CashBaba reserves the right to change the limit structure at its discretion.</br>
                  ** Customer is not allowed to do any transaction (receive or transfer) before the approval of bank
                  account.
                </p>
              </div>
            </div>
          </div>
        </div>
        <br />
        <br />
      </div>
    </div>
  </div>
</section>
<!--  personal tab part end  -->

<!-- newsletter subscription start -->
<section class="newsletter_part">
  <div class="wavify_animation">
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-six" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-seven" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-eight" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-nine" d="" />
    </svg>
  </div>
</section>

{% endblock %}