{% extends "layouts/master.html" %} {% set page_title = "security" %} {% block
main_block %}

<!-- header part start  -->
<header id="header_part" class="personal_page">
  <div class="overlay_mobile d-none"></div>
  <div class="overlay_down d-none"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 order-lg-1 order-2">
        <div class="header_content text-center">
          <h2>
            PCI DSS Requirements
          </h2>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header part end  -->

<!--  personal tab part start  -->

<section class="personal_tab_part">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>Build and Maintain a Secure Network</h3>
        <p>
          Requirement 1: Install and maintain a firewall configuration to protect cardholder data
        </p>
        <p>
          Requirement 2: Do not use vendor-supplied defaults for system passwords and other security parameters
        </p>
        <br />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>Protect Cardholder Data</h3>
        <p>
          Requirement 3: Protect Stored cardholder data
        </p>
        <p>
          Requirement 4: Encrypt transmission of cardholder data across open, public networks
        </p>
        <br />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>Maintain a Vulnerability Management Program</h3>
        <p>
          Requirement 5: Use and regularly update anti-virus software
        </p>
        <p>
          Requirement 6: Develop and maintain secure systems and applications
        </p>
        <br />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>Implement Strong Access Control Measures</h3>
        <p>
          Requirement 7: Restrict access to cardholder data by business need-to-know
        </p>
        <p>
          Requirement 8: Assign a unique ID to each person with computer access
        </p>
        <p>
          Requirement 9: restrict physical access to cardholder data
        </p>
        <br />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>Regularly Monitor and Test Networks</h3>
        <p>
          Requirement 10: Track and monitor all access to network resources and cardholder data
        </p>
        <p>
          Requirement 11: Regularly test security systems and processes
        </p>
        <br />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>Maintain an Information Security Policy</h3>
        <p>
          Requirement 12: Maintain a policy that addresses information security
        </p>
        <br />
      </div>
    </div>
  </div>
</section>
<!--  personal tab part end  -->

<!-- newsletter subscription start -->
<section class="newsletter_part">
  <div class="wavify_animation">
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-six" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-seven" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-eight" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-nine" d="" />
    </svg>
  </div>
</section>

{% endblock %}