{% extends "layouts/master.html" %} {% set page_title = "personal" %} {% block
main_block %}
<!-- header part start  -->

<header id="header_part" class="personal_page">
  <div class="overlay_mobile d-none"></div>
  <div class="overlay_down d-none"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 order-lg-1 order-2">
        <div class="header_content text-center">
          <h1>Go Cashless and Let's Change the Way to Pay</h1>
          <p>
            No cash transaction, neither any card payments are required anymore
            since CashBaba now enables you to make any kind of financial
            transaction with the help of your mobile phone or website from any
            point of location, at any time. Add money from any bank account or
            card and spend it on your preferred services. It not only provides
            transaction facilities at affordable price but also facilitates you
            to manage your accounts easily with the best possible security and
            support. Our system allows you to open accounts, free of charge. You
            can send or receive money, transfer funds, pay bills, recharge
            mobile number, make payments to merchants, shop online and pay fees
            with your CashBaba wallet. Its features are completely limited by
            your imagination.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 order-lg-2 order-1 text-center m-0 p-0">
        <div class="personal_page_img">
          <img src="images/page-banner-img/personal.png" class="img-fluid" alt="" />
        </div>
        <div class="menu_bar d-none">
          <p>
            <span></span>
            <span></span>
            <span></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header part end  -->

<!--  step part start  -->
<section class="step_part">
  <div class="wavify_animation">
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_five">
      <defs></defs>
      <path id="feel-the-wave-five" d="" />
    </svg>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2>
          Register with CashBaba and Enjoy Cashless Transaction in Three Simple
          Steps.
        </h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-sm-6">
        <div class="steps_card steps_card_1 text-center">
          <div class="steps_card_icon">
            <img src="images/step-svg/contract.svg" alt="" />
          </div>
          <h3>Step 1</h3>
          <p>
            Download Cashbaba App, Go to Sign Up, Provide Mobile Number, Password and Click on Register Button
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="steps_card steps_card_2 text-center">
          <div class="steps_card_icon">
            <img src="images/step-svg/pass.svg" alt="" />
          </div>
          <h3>Step 2</h3>
          <p>
            You will receive a verification code on your registered mobile number. Verify your mobile number.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="steps_card steps_card_3 text-center">
          <div class="steps_card_icon">
            <img src="images/step-svg/award.svg" alt="" />
          </div>
          <h3>Step 3</h3>
          <p>
            Scan your NID, take your photo to Complete the Registration Process and Start your Transaction Immediately
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  step part end  -->

<!--  personal tab part start  -->
<section class="personal_tab_part" id="fee-personal-pbenefits">
  <div class="container" id="fee-personal-pfeatures">
    <div class="row justify-content-center" id="fee-personal-plimits">
      <div class="col-lg-8 text-center" id="fee-personal-pfees">
        <h2>The basic informtaions for personal user</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="personal_tab">
          <div class="personal_tab_top_bar">
            <div class="row ">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="personal_tab_link personal_tab_link_one personal_tab_link_active">
                  <img src="images/personal-tab-svg/growth.svg" alt="" />
                  <h3>Benefits</h3>
                  <div class="personal_tab_link_1"></div>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="personal_tab_link personal_tab_link_two">
                  <img src="images/personal-tab-svg/feature.svg" alt="" />
                  <h3>Features</h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="personal_tab_link personal_tab_link_three">
                  <img src="images/personal-tab-svg/limit.svg" alt="" />
                  <h3>Limits</h3>
                </div>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <div class="personal_tab_link personal_tab_link_four ">
                  <img src="images/personal-tab-svg/fee.svg" alt="" />
                  <h3>Fees</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="personal_tab_details">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <div class="benefits_card">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="benefits_icon">
                        <img src="images/benfits-svg/secure-payment.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="benefits_title">
                        <h3>Secure Payment</h3>
                        <p>
                          Your Financial Security is our top most priority
                          leaving you free from all financial security concerns.
                          We are PCI-DSS complaint and each of the transactions
                          you make through CashBaba is 3D secured.
                        </p>
                      </div>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="benefits_card">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="benefits_icon">
                        <img src="images/benfits-svg/micromerchant.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="benefits_title">
                        <h3>Micro Merchant Account</h3>
                        <p>
                          You can easily convert your personal account into a micro merchant account for free and enjoy transaction limit upto BDT 10,00,000 and wallet holding limit upto BDT 5,00,000. No need to upload any additional business documents.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row second_details">
              <div class="col-lg-6 col-md-6">
                <div class="benefits_card">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="benefits_icon">
                        <img src="images/benfits-svg/promotership.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-9">
                      
                      <div class="benefits_title">
                        <h3>Promotership</h3>
                        <p>
                          Refer CashBaba App to new users and get life time income opportunity! So, refer CashBaba App as much as you want and enjoy lifetime income. No investment is required and there is no limit on the number of new users a referrer can onboard.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6">
                <div class="benefits_card">
                  <div class="row">
                    <div class="col-lg-3">
                      <div class="benefits_icon">
                        <img src="images/benfits-svg/recuring-payment.png" alt="" />
                      </div>
                    </div>
                    <div class="col-lg-9">
                      <div class="benefits_title">
                        <h3>Recurring payments</h3>
                        <p>
                          You can add recurring payments for paying your bills
                          with customizable scheduling features. It auto-pays
                          the bill from the wallet balance on a pre-determined
                          date. All it needs is the balance available in your
                          wallet.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="personal_tab_details_2">
            <div class="row">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features_tab ">
                  <div class="back_part_tab">
                    <p>
                      Access to 61,000 POS machines, most E-Commerce sites and 11,000 ATM machines across the country
                    </p>
                  </div>
                  <div class="front_part_tab">
                    <div class="features_tab_icon">
                      <img src="images/Features/webicon/icon-cashbaba-card-color.png" alt="" />
                    </div>
                    <h5>CashBaba Card </h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features_tab ">
                  <div class="back_part_tab">
                    <p>
                      Shop faster and safer. Just scan the QR code and pay in no time
                    </p>
                  </div>
                  <div class="front_part_tab">
                    <div class="features_tab_icon">
                      <img style="height: 40px; width: 40px;" src="images/Features/webicon/icon-qr-payment-color.png" alt="" />
                    </div>
                    <h5>QR Payment</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features_tab ">
                  <div class="back_part_tab">
                    <p>
                      Add money to your CashBaba wallet from your bank account
                      or your debit/credit card instantly, free of charge.
                    </p>
                  </div>
                  <div class="front_part_tab">
                    <div class="features_tab_icon">
                      <img src="images/Features/webicon/iocn-add-moneyN.png" alt="" />
                    </div>
                    <h5>Add Money</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features_tab ">
                  <div class="back_part_tab">
                    <p>
                      Your prepaid or postpaid mobile recharge is just a click
                      away with CashBaba!
                    </p>
                  </div>
                  <div class="front_part_tab">
                    <div class="features_tab_icon">
                      <img src="images/Features/webicon/iocn-topupN.png" alt="" />
                    </div>
                    <h5>Mobile Recharge</h5>
                  </div>
                </div>
              </div>              
            </div>
            <div class="row second_details">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features_tab ">
                  <div class="back_part_tab">
                    <p>
                      The simplest, most efficient and a cost-free way to convey
                      money to your friends and family.
                    </p>
                  </div>
                  <div class="front_part_tab">
                    <div class="features_tab_icon">
                      <img src="images/Features/webicon/iocn-fund-transfarN.png" alt="" />
                    </div>
                    <h5>Send Money </h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features_tab features_tab_five">
                  <div class="back_part_tab">
                    <p>
                      You can easily transfer your wallet funds at any time to your bank Account. 
                    </p>
                  </div>
                  <div class="front_part_tab">
                    <div class="features_tab_icon">
                      <img style="margin-top: 0px;" src="images/Features/webicon/iocn-withdrawN.png" alt="" />
                    </div>
                    <h5>Transfer </h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features_tab ">
                  <div class="back_part_tab">
                    <p>
                      Without sharing your card data, generate a virtual cash
                      number, share it with your friends and family and help
                      them to make a payment at any merchant
                      points.
                    </p>
                  </div>
                  <div class="front_part_tab">
                    <div class="features_tab_icon">
                      <img src="images/Features/webicon/iocn-virtual-cashN.png" alt="" />
                    </div>
                    <h5>Virtual Cash</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features_tab features_tab_six">
                  <div class="back_part_tab">
                    <p>
                      If your biller accepts online payment, use your CashBaba card and go for a fast, secure, convenient and hassle-free payment
                    </p>
                  </div>
                  <div class="front_part_tab">
                    <div class="features_tab_icon">
                      <img src="images/Features/webicon/iocn-utilitybillN.png" alt="" />
                    </div>
                    <h5>Utility Bill</h5>
                  </div>
                </div>
              </div>
              <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features_tab ">
                  <div class="back_part_tab">
                    <p>
                      Requesting money has never been easier. Simply use the mobile number of your friends or family who has a CashBaba account and request for money. No cost when requesting money from friends and family, making it easier than ever to send money.
                    </p>
                  </div>
                  <div class="front_part_tab">
                    <div class="features_tab_icon">
                      <img style="height: 48px; width: 48px;" src="images/Features/personal-features/request-money.png" alt="" />
                    </div>
                    <h5>Request Money </h5>
                  </div>
                </div>
              </div> -->
              
              <!-- <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features_tab ">
                  <div class="back_part_tab">
                    <p>
                      The easiest and simplest way to pay your school, college
                      or university tuition fees.
                    </p>
                  </div>
                  <div class="front_part_tab">
                    <div class="features_tab_icon">
                      <img src="images/Features/Features-icon-5.png" alt="" />
                    </div>
                    <h5>Education Fees</h5>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features_tab ">
                  <div class="back_part_tab">
                    <p>
                      Pay your internet bills via the convenience of CashBaba!
                    </p>
                  </div>
                  <div class="front_part_tab">
                    <div class="features_tab_icon">
                      <img src="images/Features/Features-icon-6.png" alt="" />
                    </div>
                    <h5>ISP</h5>
                  </div>
                </div>
              </div> -->
            </div>
            <!-- <div class="row second_details">
              <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features_tab features_tab_six">
                  <div class="back_part_tab">
                    <p>
                      If your biller accepts online payment, use your CashBaba card and go for a fast, secure, convenient and hassle-free payment
                    </p>
                  </div>
                  <div class="front_part_tab">
                    <div class="features_tab_icon">
                      <img src="images/Features/webicon/iocn-utilitybillN.png" alt="" />
                    </div>
                    <h5>Utility Bill</h5>
                  </div>
                </div>
              </div>              
            </div> -->
          </div>
          <div class="personal_tab_details_3">
            <div class="row">
              <div class="col-lg-6">
                <h2></h2>
              </div>
              <div class="col-lg-12">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Sl. No</th>
                      <th scope="col">Description</th>
                      <th scope="col">Amount (BDT)</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1.</th>
                      <td>Maximum balance at any point of time</td>
                      <td>4,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">2.</th>
                      <td>Add Money through any channel per transaction</td>
                      <td>1,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">3.</th>
                      <td>Add Money Per Month</td>
                      <td>4,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">4.</th>
                      <td>Purchase (Personal to Business)</td>
                      <td>No Limit</td>
                    </tr>
                    <tr>
                      <th scope="row">5.</th>
                      <td>
                        Send Money <br />
                        - Per transaction limit <br />
                        - Daily limit <br />
                        - Monthly limit
                      </td>
                      <td><br />50,000<br />1,00,000<br />4,00,000</td>
                    </tr>
                    <tr>
                      <th scope="row">6.</th>
                      <td>Cash-out at ATM per transaction</td>
                      <td>20,000</td>
                    </tr>
                    <tr>
                      <th scope="row">7.</th>
                      <td>
                        Transfer to Bank A/C <br />
                        - Per transaction limit <br />
                        - Daily limit <br />
                        - Monthly limit
                      </td>
                      <td><br />50,000<br />1,00,000 <br />4,00,000</td>
                    </tr>                    
                  </tbody>
                </table>
                <p>
                  Note: *CashBaba reserves the right to change the limit structure at its discretion.</br>
                </p>
              </div>
            </div>
          </div>
          <div class="personal_tab_details_4">
            <div class="row">
              <div class="col-lg-6">
                <h2></h2>
              </div>
              <div class="col-lg-12">
                <table class="table table-borderless">
                  <thead>
                    <tr>
                      <th scope="col">Service</th>
                      <th scope="col">Fee/Charge</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Registration</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Account Maintenance</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Unlink Bank</td>
                      <td>BDT 5</td>
                    </tr>
                    <tr>
                      <td>Utility Bill Payment</td>
                      <td>BDT 10 </td>
                    </tr>
                    <tr>
                      <td>
                        Credit Card Bill Payment
                      </td>
                      <td>1.25%</td>
                    </tr>
                    <tr>
                      <td>
                        Add Money from Debit/Credit Card
                      </td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>
                        Add Money from Bank
                      </td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Transfer  Money to Bank</td>
                      <td>1.25%</td>
                    </tr>
                    <tr>
                      <td>Send Money (Wallet to Wallet)</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Receive Money (Wallet to Wallet)</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Mobile Recharge</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>QR Code Purchase</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>Transaction History</td>
                      <td>Free</td>
                    </tr>
                    <tr>
                      <td>ATM Cash Out</td>
                      <td>1.50%</td>
                    </tr>
                  </tbody>
                </table>
                * CashBaba reserves the right to change the fee structure at its discretion.
                <br />
                ** 15% VAT is applicable on service charge/fee
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--  personal tab part end  -->

<!-- newsletter subscription start -->
<section class="newsletter_part">
  <div class="wavify_animation">
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-six" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-seven" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-eight" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-nine" d="" />
    </svg>
  </div>
</section>
{% endblock %}