{% extends "layouts/master.html" %} {% set page_title = "privacy-policy" %} {%
block main_block %}

<!-- header part start  -->
<header id="header_part" class="personal_page">
  <div class="overlay_mobile d-none"></div>
  <div class="overlay_down d-none"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 order-lg-1 order-2">
        <div class="header_content text-center">
          <h1>Privacy Policy</h1>
          <p>
            We respect the right to privacy of our accountholders. Our privacy
            policy ensures that we protect the trust you place in us when you
            provide us with your personal or business information. Keeping
            accountholder information secure, and using it only as our
            accountholders would want us to, is a top priority for all of us.
            This Privacy Policy was updated on 23rd of September 2019 and is
            effective immediately to all users of CashBaba.
          </p>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- header part end  -->

<!--  personal tab part start  -->

<section class="personal_tab_part">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>1. General</h3>
        <ul>
          <li>
            • We will safeguard, according to strict standards of security and
            confidentiality, any information our CashBaba accountholders share
            with us
          </li>
          <li>
            • We will limit the collection and use of accountholder information
            to the minimum as may be required to deliver superior service to our
            accountholders, which includes advising our accountholders about our
            products, services and other opportunities, and to administer our
            business
          </li>
          <li>
            • We will permit only authorized employees, who are trained in the
            proper handling of accountholder information, to have access to that
            information.
          </li>
          <li>
            • Whenever we hire other organizations to provide support services,
            we will require them to conform to our privacy standards.
          </li>
        </ul>
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>2. Collection of Personal or Business Information</h3>
        <p>
          The information we collect is information that is mandatory by the
          regulator to perform our services and offer our products to you.
          During registration process, we may collect following information from
          you:
        </p>
        <ul>
          <li>
            • Name, Date of Birth, Gender, Father’s Name, Mother’s Name, NID;
          </li>
          <li>• Contact information including address, phone and email;</li>
          <li>
            • Your card or account numbers; Security code, password or other
            authentication credentials;
          </li>
          <li>• Documents you provide for verification purposes;</li>
          <li>• Information you provide through feedback or contacting us;</li>
        </ul>
        <br />
        <p>
          We may automatically collect personal or business information through
          your use of the App. This information includes:
        </p>
        <ul>
          <li>• Banking and other transactions executed through the App;</li>
          <li>• IP address of your device;</li>
          <li>• Device identifier for the device running the App;</li>
          <li>
            • Non-personal information that is combined with personal or
            business information;
          </li>
          <li>
            • We may also automatically collect non-personal information and
            aggregated, de-identified or anonymous information about your use of
            the App, including:
          </li>
          <li>• Date and time the App accesses our servers;</li>
          <li>
            • Non-personal information about banking or other transactions;
          </li>
          <li>• The version of the App you are using;</li>
          <li>• The type of operating system you have;</li>
          <li>• Your device model and manufacturer;</li>
        </ul>
        <br />
        <p>
          We may collect the location of your device. You may be able to disable
          the collection of location information through your device. If you
          disable location information, certain functionality may be unavailable
          to you.
        </p>
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>
          3. How we will use the information about you
        </h3>
        <p>
          We use information held about you in the following ways:
        </p>
        <ul>
          <li>
            • to operate and administer your account with CashBaba and to
            provide the services that you have requested;
          </li>
          <li>
            • to carry out your instructions to make and receive payments and
            undertake transactions using our services;
          </li>
          <li>• to notify you about changes to our service(s);</li>
          <li>
            • to comply with central bank regulations including retention of
            financial information and transactions;
          </li>
          <li>
            • for financial and identity checks, fraud prevention and detection
            checks, anti-money laundering and credit checks;
          </li>
          <li>• Date and time the App accesses our servers;</li>
          <li>
            • for accountholder service, including answering questions and
            responding to feedback and complaints;
          </li>
          <li>• to enhance the security of our services;</li>
          <li>• for research, statistical. Analysis and behavioral analysis</li>
          <li>• Your device model and manufacturer;</li>
        </ul>
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>4. Marketing</h3>
        <p>
          From time to time, we may use your information to contact you with
          details about our products and services which we feel may be of
          interest to you. You have the right at any time to stop us from
          contacting you for marketing purposes. If you wish not to be contacted
          by us and/or our 3rd parties’ partners, you can send us an email with
          your request to support@cashbaba.com.bd.
        </p>
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>
          5. Data Security
        </h3>
        <p>
          The security and confidentiality of personal or business information about you is our priority. We protect
          this information by maintaining physical, electronic, and procedural safeguards that meet applicable law and
          compliance. We train our employees in the proper handling of these information. When we use other
          companies to provide services for us, we require them to protect the confidentiality of your
          information they receive.
        </p>
        <p>While if you have reason to believe that your interaction with us is no longer secure, please immediately
          notify us of the problem by contacting us at support@cashbaba.com.bd.</p>
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>
          6. Changes to This Policy
        </h3>
        <p>
          From time to time, we may change this Privacy Policy. Changes to this
          Privacy Policy are effective as of the effective date listed above.
        </p>
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>
          7. Disclosure of Information
        </h3>
        <p>
          CashBaba complies with PCI DSS and the data protection laws in
          Bangladesh. It takes all reasonable care to prevent any unauthorized
          access to your personal data.
        </p>
        <p>
          At times, as a part of providing you with our products and services
          and the management and/or operation of the same, we may be required or
          need to disclose your information with certain classes of third
          parties. Data shared will be for the purpose as stated in this privacy
          statement, or purposes not stated but directly related to the primary
          purpose of collection.
        </p>
        <p>
          The classes of third parties that CashBaba may divulge the personal or
          business information of its accountholders are as follows:-
        </p>
        <ul>
          <li>
            • Organizations required under law or where disclosure is necessary
            for the purposes of compliance with applicable laws or in response
            to relevant authorities requests;
          </li>
          <li>
            • Government agencies, statutory authorities, enforcement agencies
            under law;
          </li>
          <li>• to notify you about changes to our service(s);</li>
          <li>
            • Our company’s auditors, accountants and solicitors;
          </li>
          <li>
            • Our business partners or service providers that are deemed
            necessary or appropriate for the purposes stated above including for
            the purposes of fraud investigation;
          </li>
          <li>• Persons under a duty of confidentiality in our company;</li>
          <li>
            • Any class of third parties expressly stated in this Privacy
            Statement.
          </li>
        </ul>
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>
          8. Information Security and Accuracy
        </h3>
        <p>
          RFTL takes precautions including administrative, technical and
          physical measures to safeguard your personal or business information
          against loss, theft and misuse, as well as against unauthorised
          access, disclosure, alteration and destruction. Furthermore, we intend
          to protect your information and to maintain its accuracy.
        </p>
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>
          9. Use of Cookies
        </h3>
        <p>
          Our website creates a “cookie” when you first register online. A
          “cookie” is a piece of information, like a tag, which some basic
          information which helps us to identify if you have visited the site
          before and if you have provide us with some personalized content such
          as welcoming you by name if you have supplied this in a previous
          visit. However, as it is based on your PC, we will not find the
          “cookie” if you visit our website from a different PC to the one you
          registered on. The use of “cookies” includes the following assurances:
        </p>
        <ul>
          <li>
            • No information regarding your telephone number, an account or
            payment details included in the cookie or can be accessed using it;
            and
          </li>
          <li>
            • They do not collect any personal information regarding the use of
            your PC or internet browsing in any way.
          </li>
        </ul>
        <p>
          If you do not want a “cookie” to be created on your PC, web browsers
          such as Internet Explorer, Mozilla Firefox of Google Chrome provides
          option to disable it.
        </p>

        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>
          10. Our Commitment to Your Privacy
        </h3>
        <p>
          To make sure your personal or business information is secure, we
          communicate our privacy and security guidelines to our employees and
          strictly enforce privacy safeguards within the company.
        </p>
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>
          11. Your Consent
        </h3>
        <p>
          By using the app and/ or by providing your information, you consent to
          the collection and use of the information you disclose on the app in
          accordance with this Privacy Policy, including but not limited to Your
          consent for sharing your information as per this privacy policy.
          <i><span style="color:dodgerblue">support@cashbaba.com.bd</span> or
            call us at +8801904499019.</i>
        </p>
        <br />
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-8 text-left">
        <h3>
          12. Questions or Concerns
        </h3>
        <p>
          If you have any question or concern, please call us at +8801904499019
          or e-mail at support@cashbaba.com.bd
        </p>
        <br />
      </div>
    </div>
  </div>
</section>
<!--  personal tab part end  -->

<!-- newsletter subscription start -->
<section class="newsletter_part">
  <div class="wavify_animation">
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-six" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-seven" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-eight" d="" />
    </svg>
    <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="wave_six">
      <defs></defs>
      <path id="feel-the-wave-nine" d="" />
    </svg>
  </div>
</section>

{% endblock %}